<div id="header" class="block">
  <div class="container">
    
    <div id="menu" class="right alignright">
      {% include menu.html %}
    </div>
    
    <div id="logo" class="col-1">
      <a href="/" alt="{{ site.name }}" title="{{ site.name }}">
        <h1>{{ site.name }}</h1>
      </a>
    </div>
    
    <div id="strapline" class="col-1">
      <a href="/" alt="{{ site.strapline }}" title="{{ site.strapline }}">
        <h3>{{ site.strapline }}</h3>
      </a>
    </div>
    
  </div>
</div>

